.wrap_main {
	width: 100%;
	min-height: 700px;
	margin: 0 auto;
}
.main_visual_wrap {
	position: relative;
	width: 100%;
	height: 630px;
	background-position: center top;
	overflow: hidden;
}
.main_visual_wrap .main_visual {
	position: absolute;
	width: fit-content;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.main_visual_wrap .main_visual p{
	font-size: 48px;
	font-weight: 700;
	min-width: 310px;
}

/* 날씨, 매장 검색 */
.main_content_wrap {
	position: relative;
	display: block;
	width: 920px;
	height: 630px;
	padding: 0 15px;
	margin: 0 auto;
}
.main_visual_wrap .main_content {
	position: absolute;	
	width: 230px;
	top: 50%;
	right: 15px;
	display: block;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	border-top: 2px solid #333;
}
.main_content div {
	height: 88px;
	border-bottom: 1px solid #ccc;
}
.main_content .weather {
	position: relative;
	width: 100%;
	padding: 14px 0;
}
.main_content .weather .ttl {
	font-weight: bold;
}
.main_content .weather .ttl, .main_content .weather .temp {
	display: inline-block;
	width: calc(100% - 40px);
	font-size: 16px;
	line-height: 26px;
}
.main_content .weather .temp {
	margin-top: 5px;
}
.main_content .ico_weather.sunny {	
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: 50% 50% no-repeat;
	background-size: 40px auto;
	background-image: url('../img/main/icon_weather_sunny.png');
}
.main_content .find_store {
	border: none;
}
.main_content .find_store a {
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 88px;
	background-color: red;
	font-size: 16px;
	font-weight: bold;
	background: url('../img/main/ico_search_store.png') right center no-repeat;
	background-size: 40px auto;
}

/* 메인 배너 */
.main_banner_wrap {
	position: relative;
	margin: -80px auto 0;
	width: 920px;
	height: 170px;
	border-radius: 0 0 0 32px;
}
.main_banner_wrap::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 880px;
	height: 20px;
	bottom: -10px;
	left: 20px;
	border-radius: 0 0 0 32px;
	opacity: 0.3;
	filter: blur(9px);
	background-color: #000;
	z-index: -2;
}
.main_banner {
	border-radius: 0 0 0 32px;
}
.main_banner_wrap .main_banner img {
	width: 100%;
	border-radius: 0 0 0 32px;
	cursor: pointer;
}