button {
	cursor: pointer;
	vertical-align: middle;
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
}

div {
	content: "";
}

/* 헤더 로고 */
header {
	position: fixed;
	width: 100%;
	height: 90px;
	top: 0;
	z-index: 999;
}
header .header_logo {
	position: fixed;
	width: 100%;
	max-width: 920px;
	height: 90px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	border-radius: 0 0 30px 30px;
	background: #fff;
	text-align: center;
	z-index: 999;
}

header .header_logo .head_bg {
	background-color: #fff;
}

header .header_logo .logo {
	display: inline-block;
	width: 360px;
	height: 90px;
	background: url(../img/layout/logo.png) 50% 50% no-repeat;
	background-size: 320px auto;
	overflow: hidden;
}

/* toggle 메뉴 */
.btn_menu_open {
	position: absolute;
	width: 48px;
	height: 48px;
	right: 26px;
	top: 20px;
	background: #da291c url('../img/layout/btn_menu_open.png') 50% 50% no-repeat;
	border-radius: 100%;
	box-shadow: 0 6px 12px 0 rgb(103 6 0 / 19%);
	display: block;
}
.btn_menu_open.on {
	z-index: 999;
	background-image: url('../img/layout/btn_menu_close.png');
}

.gnb_menu_wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background: url('../img/layout/bg_sub01.jpg') 50% 50%;
}
.gnb_menu_wrap .menu_wrap {
	width: 100%;
	max-width: 920px;
	position: absolute;
	left: 50%;
	top: 163px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.gnb_menu_wrap .menu_wrap .gnb_util {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
}
.gnb_menu_wrap .gnb_notice a {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	position: relative;
	padding-left: 40px;
}

/* 로그인, 회원가입 */
.gnb_util .gnb_notice a:first-child {
	padding-left: 0;
}
.gnb_menu_wrap .gnb_notice a:last-child::before {
	content: '';
	position: absolute;
	left: 19px;
	top: 25%;
	width: 1px;
	height: 18px;
	transform: translateY(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	background: #e2e2e2;
}
.menu_wrap .gnb_menu {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 920px;
	margin: 83px auto 0;
}
.gnb_menu .gnb_visual {
	position: absolute;
	display: inline-block;
	left: 50%;
	width: 360px;
	height: 400px;
	background: url('../img/layout/bg_gnb_visual.png') 50% 50% no-repeat;
}
.gnb_menu .gnb_visual p {
	margin-top: 50%;
	margin-left: 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: -0.6px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.gnb_menu .gnb_visual a {
	position: absolute;
	bottom: 48px;
	left: 30px;
	color: #fff;
	font-size: 16px;
}

.gnb_menu > ul {
	float: left;
	display: inline-block;
	width: 50%;
	max-width: 373px;
}
.gnb_menu li a {
	display: inline-block;
	width: auto;
	height: 54px;
	font-size: 40px;
	font-weight: 700;
}
.gnb_menu ul li a:hover {
	border-bottom: 2px solid #000;
}
.gnb_menu ul li {
	width: 100%;
	height: 60px;
	margin-bottom: 29px;
}
.gnb_2nd {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	display: none;
}
.gnb_menu ul li.on {
	background-color: #da291c;
	border-radius: 0 0 0 10px;
}
.gnb_menu ul li.on > a {	
	color: #fff;
	padding-left: 30px;
}
.gnb_menu ul li.on > a:hover {
	border-bottom: 0;
}

.app_down {
	position: absolute;
	width: 100%;
	max-width: 920px;
	left: 50%;
	bottom: 40px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.app_down a {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.8;
	letter-spacing: -0.6px;
}

/* 사이드 퀵 메뉴 */
.menu_quick {
	position: fixed;
	width: auto;
	height: auto;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	z-index: 999;
}
.menu_quick li {
	float: left;
	display: inline-block;
}
.menu_quick li a {
	color: #000;
	font-size: 14px;
	font-weight: 500;
}
.menu_quick::after {
	content: '';
	display: block;
	clear: both;
}
.menu_quick.left {
	top: 50%;
	left: -20px;
}
.menu_quick.left_bottom {
	bottom: 40px;
	left: 10px;
}
.menu_quick.right {
	top: 50%;
	right: -130px;
	margin-top: -10px;
	width: 335px;
	opacity: 0.9;
}
.menu_quick .quick03, .menu_quick .quick04 {
	padding-left: 26px;
}

.info_scroll {
	position: fixed;
	width: auto;
	height: auto;
	right: -7px;
	bottom: 112px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	z-index: 999;
}
.info_scroll span {
	display: inline-block;
	width: 88px;
	color: #666;
	font-size: 12px;
	line-height: 22px;
}
.info_scroll .img_mouse {
	position: absolute;
	display: inline-block;
	width: 38px;
	height: 26px;
	top: -2px;
	right: -49px;
	background: url('../img/layout/ico_mouse_scroll.png') no-repeat 50% 50%;
}

.language {
	position: fixed;
	display: inline-block;
	width: fit-content;
	top: 130px;
	left: -62px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	z-index: 999;
}
.language li {
	float: left;
	margin-right: 21px;
}
.language li.active {
	border-top: 2px solid #e20000;
}
.language li.active a {
	color: #000;
	font-weight: 500;
}
.language li a {
	display: inline-block;
	font-size: 12px;
	vertical-align: inherit;
	color: #000;
}
