section.social {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	padding-bottom: 40px;
}
section.social .ttl {
	font-size: 36px;
	font-weight: bold;
	line-height: 1.44;
	text-align: center;
}
section.social .social_list {
	margin-top: 60px;
}
section.social .social_list li {
	position: relative;
	display: inline-block;
	width: calc(33.3% - 40px);
	margin-bottom: 40px;
	margin-right: 40px;
	vertical-align: top;
}
section.social .social_list li:nth-child(3n) {
    margin-right: 0;
}
section.social .social_list li a {
	border: none;
	border-radius: 10px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.social_list li a img {
	width: 100%;
	transform: scale(1);
	transition: transform 1s;
}
.social_list li a:hover  img {
	transform: scale(1.14);
}
.social_list li a span {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,.3);
	z-index: 2;
	border-radius: 50%;
}
.social_list li a span.ico_youtube {
	background-image: url(../img/main/sns/ico_social_youtube_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li a span.ico_bloger {
	background-image: url(../img/main/sns/ico_social_blog_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li a span.ico_instagram {
	background-image: url(../img/main/sns/ico_social_instagram_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li p {
	margin-top: 12px;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
}
.btn_more_list {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 18px;
    background: url(../img/main/sns/ico_arrow_category.png) right center no-repeat;
    background-size: 15px auto;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}