section.social {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	padding-bottom: 40px;
}
section.social .ttl {
	font-size: 36px;
	font-weight: bold;
	line-height: 1.44;
	text-align: center;
}
section.social .social_list {
	margin-top: 60px;
}
section.social .social_list li {
	position: relative;
	display: inline-block;
	width: calc(33.3% - 40px);
	margin-bottom: 40px;
	margin-right: 40px;
	vertical-align: top;
}
section.social .social_list li:nth-child(3n) {
    margin-right: 0;
}
section.social .social_list li a {
	border: none;
	border-radius: 10px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.social_list li a img {
	width: 100%;
	transform: scale(1);
	transition: transform 1s;
}
.social_list li a:hover  img {
	transform: scale(1.14);
}
.social_list li a span {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 36px;
	height: 36px;
	background-color: rgba(0,0,0,.3);
	z-index: 2;
	border-radius: 50%;
}
.social_list li a span.ico_youtube {
	background-image: url(../img/main/sns/ico_social_youtube_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li a span.ico_bloger {
	background-image: url(../img/main/sns/ico_social_blog_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li a span.ico_instagram {
	background-image: url(../img/main/sns/ico_social_instagram_w.png);
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: center center;
}
.social_list li p {
	margin-top: 12px;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
}
.btn_more_list {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 18px;
    background: url(../img/main/sns/ico_arrow_category.png) right center no-repeat;
    background-size: 15px auto;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

/* event */
section.event {
	width: 100%;
	height: 1300px;
	padding-top: 150px;
	background: url('../img/main/event/bg_event.jpg') center top no-repeat;
	background-size: 100% 100%;
}
.event_wrap {
	width: 100%;
	max-width: 920px;
	height: 100%;
	margin: 0 auto;
}
.event_wrap .event_ttl {
	position: relative;
	width: 350px;
}
.event_wrap .event_ttl .ttl {
	max-width: 234px;
	font-size: 40px;
	line-height: 52px;
	font-weight: bold;
	letter-spacing: -1.2px;
}
.event_wrap .event_ttl a {
	position: absolute;
	bottom: 150px;
	font-size: 16px;
	letter-spacing: -0.48px;
	font-weight: 500;
	color: #444;
	left: auto;
	transform: none;
}
.event_wrap .event_ttl, .event_wrap .event_list_wrap {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
.event_list_wrap {
	width: 560px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.event_list_wrap .event_list {
	padding-bottom: 30px;
	margin-bottom: 30px;
	position: relative;
}
.event_list_wrap .event_list .list_div.second_block {
	position: relative;
	top: -760px;
	left: 290px;
}
.event_list_wrap .event_list .list_div {	
	display: block;
	width: 260px;
	margin-bottom: 30px;
	border-radius: 16px;
	background-color: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
.event_list_wrap .event_list .list_div .a_block {
    width: 100%;
	display: block;
}
.event_list_wrap .event_list .list_div .a_block .thumb {
	width: 100%;
	height: auto;
	min-height: 346px;
	border-radius: 0;
	border: none;
	object-fit: cover;
}
.event_list_wrap .event_list .list_div .info_list_box {
	padding: 30px;
	margin-top: 0 impo !important;
}
.event_list_wrap .event_list .list_div .info_list_box .info_logo {
	margin-bottom: 4px;
	font-size: 13px;
	line-height: 19px;
	font-weight: normal;
}
.shop_event {
	color: #b78b61;
}
.info_list_box .info_tit {
	margin-top: 16px;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	font-weight: 500;
}
.info_list_box .info_place {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 20px;
	color: #666;
}
.info_list_box .info_time {
	font-size: 14px;
	line-height: 20px;
	color: #666;
}